.info{
    color: rgb(19, 4, 103);
    background-color: black;
    height: 400px;
    width: 240px;
    float:left;
    margin:10px;
    background-color: rgba(66,182,224,255);
    border-radius: 17px;
}

.HEADER{
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-weight: bold;
}



.textCommon {
    align-items: center;
    margin-left: 13px;
    color: white;
    text-align: center;
    font-weight: bold;
}

input{
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 36px;
    margin-left: 20px;
    :hover {
        border-color: #ccc;
    }
    :focus{
        border-color: #9147ff;
        background: #fff;
    }   
}


button{
    margin-left: 28px;
    margin-top : 15px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    :hover {
        box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
        transform: translateY(-2px);
    }
    :active{
        box-shadow: inset 0px 3px 7px #3c4fe0;
        transform: translateY(2px);
    }
    
}


img {
    width: 650px;
    margin-top: 20px;
    border-radius: 40%;
    margin-left: 10px;
}



.dataInput{
    margin-left: 200px;
    width: 600px;
}