body {
    animation: colorTransition 9s infinite alternate;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

@keyframes colorTransition {
    0% {
        background-color: #FDE2A0;
    }
    50% {
        background-color: #FEE2BE;
    }
    100% {
        background-color: #FCE2D0;
    }
}
.header {
    padding: 2px;
    text-align: center;
    background: #C6B197;
    color: white;
    font-size: 25px;
}
.bod{
    padding: 20px;
    font-size: 35px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C6B197;
    color: white;
    text-align: center;
    font-size: 15px;
}
.button {
  background-color: darksalmon;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
}
input {
   font-size: 20px; 
  padding: 9px 12px;
  margin: 8px 0;

}