/* Основной контейнер */
body{
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,175,1) 61%, rgba(252,176,69,1) 100%);

}
.container {
    margin-top: 50px;
    text-align: center;
}

/* Заголовок */
h1 {
    font-size: 64px;
    color: white;
}
h3{
    color: white;
}
header {
    text-align: center;
    margin-bottom: 20px;
}

/* Форма и кнопка добавления формы */
.form-group{
    margin-top: 10px;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

/* Кнопка удаления формы */
.delete-form1, .delete-form2{
    margin-left: 10px;
}

.btn-danger{
  margin-top: 10px;
}



form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical; /* Разрешить изменение размера по вертикали */
}

button {
    display: block;
    padding: 10px 20px;
    background: #0077b6;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
    cursor: pointer;
}

button:hover {
    background: #005b91;
}
