body {
  background-color: #121411;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

#score-line {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 4px;
}

.streak {
  margin-inline: 2px;
  width: 12%;
  background-color: #121212;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 12px;
  border-radius: 0.5rem;
}

#score-div {
  margin-inline: 2px;
  width: 40%;
  background-color: #b07d10;
  padding: 12px;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

#drawing-box {
  display: block;
  width: 1120px;
  height: 630px;
  background-color: #000000;
  border-radius: 0.5rem;
  margin: auto;
}

h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
  display: block;
  width: fit-content;
  margin-inline: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1em;
}

#main {
  width: auto;
  height: auto;
  background-color: #222222;
  border-radius: 16px;
  padding: 16px;
  margin-inline: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}

#error {
  border-color: rgb(100, 0, 0);
  border-width: 1px;
  border-style: solid;
}

#content {
  width: 100vw;
  height: 100vh;
}
