
.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 300px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}
body {
	background-image:url("https://images.hdqwalls.com/wallpapers/dark-souls-3-8k-om.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}
h1 {
	color:blue;
}